.title {
    margin: 0 auto;
  width: 80%;
  text-align: center;
  padding-bottom: .75em;
  padding-top: .25em;
}

.container {
  padding: 0 5rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-items: center;
  gap: 2rem;
}
